@import "tailwindcss";

@theme {
  /* Cores Oficiais da Maya Yamamoto RPG */
  --color-primary: #2CB4CC;
  --color-secondary: #EF6A55;
  --color-dark: #005477;
  --color-brown: #8C5E35;
}

/* Oculta a barra de rolagem mas mantém a funcionalidade */
.esconder-scroll::-webkit-scrollbar {
  display: none;
}
.esconder-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}